@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ToDoList.Models.ViewModels
@model TaskListViewModel


<div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
       
        @{
            var items = ViewBag.SideBarItems;
            <div>
                @foreach (var item in items)
                {
                    if (item.Id == ViewBag.CurrentRoute)
                    {
                        <a class="list-group-item list-group-item-action py-2 ripple active" aria-current="true"
                         asp-area="" asp-controller="Home" asp-action="TaskByCategory" asp-route-id=@item.Id>
                            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>@item.Name</span>
                        </a>
                    }
                    else
                    {
                        <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true"
                         asp-area="" asp-controller="Home" asp-action="TaskByCategory" asp-route-id=@item.Id>
                            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>@item.Name</span>
                        </a>
                    }
                }
            </div>
        }
    </div>
</div>
