@using ToDoList.Models.ViewModels
@model TaskListViewModel


<div class="scroll-table">
    
    <table class="table" style="width:95%">
        <thead>
            <partial name="NameOfTable" model="Model.Tasks.FirstOrDefault()" />
        </thead>
    </table>
    <div class="scroll-table-body">
        <table class="table">
            <tbody>
                <partial name="TaskSummary" model=Model.Tasks />
            </tbody>
        </table>
    </div>
    <table class="table" style="width:95%">
        <thead>
            <tr>
                <th>Completed</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="scroll-table-body-completed">
        <table class="table">
            <tbody>
                <partial name="TaskSummaryComplited" model=Model.Tasks />
            </tbody>
        </table>
    </div>
</div>
